.App {

}

.App span {

}

.done-tasks {
  opacity: 0.5;
}

.active-button {
  /*border-radius: 3px;*/
}

.error {
  border: 2px solid red;
}

.error-message {
  color: red;
}

.addFrame {
  border-radius: 15px;
  height: 100%;
  padding: 15px 8px 20px 25px;
}

.todolistFrame {
  background-color: white;
  border-radius: 15px;
  height: 100%;
  padding: 8px 10px 25px 27px;
  margin: 10px 20px 30px;
  box-shadow:0 0 8px #3c2c70;
}

.button {
  /*color: white;*/
  /*background-color: #8b64fd;*/
  /*border-radius: 5px;*/
  /*margin-top: 7px*/
}

.buttonToAdd {
  color: #8b64fd;
  margin-top: 8px;
}

