.App {
  display: flex;
  margin: 50px;
  gap: 50px;
}

.done-tasks {
  opacity: 0.5;
}

.active-button {
  /*border-radius: 3px;*/
}

.error {
  border: 2px solid red;
}

.error-message {
  color: red;
}

.addFrame {
  background-color: white;
  border-radius: 15px;
  height: 100%;
  padding: 15px 8px 15px 25px;
  box-shadow:0 0 8px #3c2c70;
}

.todolistFrame {
  background-color: white;
  border-radius: 15px;
  height: 100%;
  padding: 5px 20px 20px;
  box-shadow:0 0 8px #3c2c70;
}
